<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<targets>
		<!-- Console -->
		<target xsi:type="Console" name="console"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}" />

		<!-- File -->
		<target xsi:type="File" name="file"
				fileName="logs/${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}"
				archiveFileName="logs/archives/log.{#}.txt"
				archiveEvery="Day"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false"
				encoding="utf-8" />

		<!-- Async -->
		<target xsi:type="AsyncWrapper" name="asyncFile" queueLimit="5000">
			<target-ref name="file" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console,asyncFile" />
	</rules>
</nlog>
